<head>
    <link href="~/StyleSheet.css" />
</head>
<body>
    <form method="post">
        <label for="firstyear">Beginning Year</label>
        <input type="number" min="1927" max="2016" placeholder="1927" name="firstyear" />
        <label for="secondyear">Beginning Year</label>
        <input type="number" min="1927" max="2016" placeholder="2016" name="secondyear" />
        <button type="submit">Search</button>
    </form>
</body>

